<div>
  <%= shared_post.title%>
</div>

<%# TODO Add description to shared_post model to place here as an alt%>
<div>
  <%= image_tag(shared_post.image_url, alt: "A shared post")%>
</div>

<div>
  <%= shared_post.description%>
</div>