<div>
  <%= shared_post.title%>
</div>


<!-- <div>
  <%= image_tag(shared_post.image_url, alt: shared_post.description)%>
</div> -->

<p>
    <strong>Image:</strong>
      <%= shared_post_image_for(shared_post, 600, 400) %>
</p>

<div>
  <%= shared_post.description%>
</div>