<div id="<%= dom_id original_post %>">
  <p>
    <strong>Body:</strong>
    <%= original_post.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= original_post.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= original_post.user_id %>
  </p>

</div>
