<div id="<%= dom_id original_post %>">
  <p>
    <strong>Body:</strong>
    <%= original_post.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= post_image_for(original_post, 300, 300) %>
  </p>

  <p>
    <strong>User:</strong>
    <%= original_post.user.full_name %>
  </p>

</div>
