<div id="<%= dom_id original_post %>">
  <p>
    <strong>Body:</strong>
    <%= original_post.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @original_post.image_url if @original_post.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= original_post.user.full_name %>
  </p>

</div>
